<div class="navbar">
    <h2 style="padding-top:10px;">Welcome, {{name}}</h2>
    <button href="/farmer-login" class="btn btn-primary" (click)="logout()">Logout</button>
</div>
<div class="sidebar">
    <a class="active" href="/marketplace">View Marketplace</a>
    <a href="/sell-request">Place Sell Request</a>
    <a href="/crop-sold-history">View Sold Crop History</a>
    <a href="/insurance">Calculate and Claim Insurance</a>
</div>
  
<div class="content">
  MarketPlace
    <table *ngFor="let item of request;let i=index">
        <tr>
            <td>Crop: {{item.cropName}}</td>
        </tr>
        <tr>
            <td>Current Bid</td>
        </tr>
        <tr>
            <td><b>{{item.cuurentBid}}</b></td>
        </tr>
        <tr>
            <td>
                <button (click)="toggleViewDetails(item)" class="btn btn-info">{{buttonName}}</button>
            </td>
        </tr>
        <div [hidden]="item.show">
            <tr>
                <td>Crop Type:{{item.cropType}}</td>
            </tr>
            <tr>
                <td>Fertilizer Type:{{item.fertilizerType}}</td>
            </tr>
            <tr>
                <td>MSP:{{item.msp}}</td>
            </tr>
        </div>
        <tr>
            <td><button class="btn btn-secondary" (click)="previousBids(item)">Previous Bids</button></td>
            <div  [hidden]="item.show">
                <table class="table table-hover table-fixed">
                    <thead>
                    <tr>
                        <!-- <th>Bidder Name</th> -->
                        <th>Previous Bid amount</th>
                      
                     
                    </tr>
                  </thead>
              <tbody *ngFor="let i of previousBidList">
                    <tr>
                        <!-- <td>{{i.biddername}}</td> -->
                        <td>{{i.bidPrice}}</td>
                    </tr>
                  
              
              </tbody>
                </table>
            </div>
        </tr>
        <tr>
            <td><button class="btn btn-success" (click)="soldlist(item)">SELL</button></td>
        </tr>
    </table>
</div>
<footer class="page-footer font-small unique-color-dark pt-4">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#"> SchemeForFarmers.com</a>
    </div>
</footer>

