<div class="companydetails">
    <h4>
        <table>
            <tr>
                <td><a class="pull-left" href="/"><img src="\assets\Logo.png" id="logo"></a></td>
                <td>
                    <span class="panel-heading">Fasal Bima Yojana</span>
                    <i><p>MINISTRY OF AGRICULTURE &amp; FARMERS WELFARE</p></i>
                </td>
            </tr>  
        </table>
    </h4>
</div>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #bbdff8;">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home</a>
        <a class="nav-item nav-link" href="#">About</a>
        <a class="nav-item nav-link" href="#">Contact</a>
        <a href="/admin-login" class="nav-item nav-link" >Admin</a>
      </div>
    </div>
  </nav>
  <html>
      <table class="corners">
          <tr>
              <td>
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title">FARMER'S CORNER</h5>
                            <img src="\assets\Farmer.png"/>
                            <p class="card-text">Are you a Farmer and want to sell your crops or apply for Crop Insurance? </p>
                            <a href="/farmer-login" class="btn btn-primary">Login/Register</a>
                        </div>
                    </div>
                </div>
            </td>
              <td>
                <div class="card" >
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title">BIDDER'S CORNER</h5>
                            <img src="\assets\Bidder.png"/>
                            <p class="card-text">Are you a Bidder and are interested in bidding for crops? </p>
                            <a href="/bidder-login" class="btn btn-primary">Login/Register</a>
                        </div>
                    </div>
                </div>                
              </td>
              <td>
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title">GRIEVANCES</h5>
                            <img src="\assets\Help.png"/>
                            <p class="card-text">Need help regarding the portal and what to clear your Doubts? </p>
                            <a href="#" class="btn btn-primary">Ask Us</a>
                        </div>                      
                    </div>
                </div>
              </td>
          </tr>
      </table>       
    </html>

<footer class="page-footer font-small unique-color-dark pt-4">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#"> SchemeForFarmers.com</a>
    </div>
</footer>
