<div class="navbar">
    <h2 style="padding-top:10px;">Welcome, {{name}}</h2>
    <button href="/farmer-login" class="btn btn-primary" (click)="logout()">Logout</button>
</div>
<div class="sidebar">
    <a href="/marketplace">View marketplace</a>
    <a  href="/sell-request">Place Sell Request</a>
    <a class="active" href="/crop-sold-history">View Sold Crop History</a>
    <a href="/insurance">Calculate and Claim Insurance</a>
</div>
  
<div class="content">
  <h3>Sold History</h3>
  <table class="table table-hover table-fixed">
      <thead>
      <tr>
          <th>Request Id</th>
          <th>Crop Name</th>
          <th>Quantity</th>
          <th>Sold Price</th>
          <th>Bought by</th>
          <th>Contact number of buyer</th>
       
      </tr>
    </thead>
<tbody *ngFor="let sold of soldhistory">
      <tr>
          <td>{{sold.rerId}}</td>
          <td>{{sold.cropname}}</td>
          <td>{{sold.quantity}}</td>
          <td>{{sold.soldprice}}</td>
          <td>{{sold.boughtby}}</td>
          <td>{{sold.contact}}</td>
      </tr>
    

</tbody>
  </table>
</div>
<footer class="page-footer font-small unique-color-dark pt-4">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#"> SchemeForFarmers.com</a>
    </div>
</footer>
