<div class="navbar">
    <h2 style="padding-top:10px;">Welcome</h2>
    <button href="/farmer-login" class="btn btn-primary" (click)="logout()">Logout</button>
</div>
<div class="sidebar">
    <a href="/marketplace">View marketplace</a>
    <a href="/sell-request">Place Sell Request</a>
    <a href="/crop-sold-history">View Sold Crop History</a>
    <a class="active" href="/insurance">Calculate and Claim Insurance</a>
</div>
  
<div class="content">
  Insurance
</div>
<footer class="page-footer font-small unique-color-dark pt-4">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#"> SchemeForFarmers.com</a>
    </div>
</footer>


