
<div class="navbar">
    <h2 style="padding-top:10px;">Welcome</h2>
    <button href="/bidder-login" class="btn btn-primary" (click)="logout()">Logout</button>
</div>
<div class="sidebar">
    <a class="active" href="/bidder-home">View Bidding place</a>
    <a  href="/mybids">My Bids</a>
    
</div>
<html>
  
<div class="content">
  Bidding Place
  <div class="row">
    <form [formGroup]="currentBidForm">
    <div class="column" *ngFor="let r of showreq; let i = index;">
      <img src="\assets\rice.jpg" style="width:100%;height: 310px"><br><br> 
      <button (click) = toggleDisplay(r) class="btn btn-info">{{buttonName}}</button><br>
      <div [hidden] = "r.show"><h5>Crop name: {{r.cropName}}<br> Crop Type: {{r.cropType}}<br>MSP: {{r.msp}} <br>Current bid: {{r.cuurentBid}}</h5></div>
      <button (click)="decrement(r)"class="btn btn-info">-</button>&nbsp;
      <input type="number" id="bid" value="{{r.cuurentBid}}" placeholder="{{r.cuurentBid}}" formControlName="bidAmount">&nbsp;
        <button (click)="increment(r)"class="btn btn-info">+</button><br>
        <button class="btn btn-outline-primary" (click)="bidNow(r)">Bid</button>
    </div>
  </form>
</div>
</div>
