<div class="navbar">
    <h2 style="padding-top:10px;">Welcome</h2>
    <a href="/farmer-login" class="btn btn-primary">Logout</a>
</div>
<div class="sidebar">
    <a class="active" href="/marketplace">View marketplace</a>
    <a href="#">BIDDING HISTORY</a>
    <a href="#">VIEW CROPS BOUGHT</a>
</div>
  
<div class="content">
  MarketPlace
  <table>
      <tr>
          <td>Crop: CropNameHere</td>
      </tr>
      <tr>
          <td>Current Bid</td>
      </tr>
      <tr>
          <td><b>Rs 200</b></td>
      </tr>
      <tr>
          <td><a href="" class="btn btn-info">BUY CROPS</a></td>
          <span></span>
      </tr>
      <tr>
        <td><a href="" class="btn btn-secondary">Previous Bids</a></td>
      </tr>
      <tr>
        <td><a href="" class="btn btn-success">BID</a></td>
      </tr>
  </table>
</div>
<footer class="page-footer font-small unique-color-dark pt-4">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#"> SchemeForFarmers.com</a>
    </div>
</footer>

