

<table>
    <tr>
        <td>
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <h5 class="card-title">Farmers</h5>
                        <img src="\assets\Help.png"/>
                        <p class="card-text">Please aprove the pending farmers </p>
                        <a href="approve-farmers" class="btn btn-primary">Check and Approve</a>
                    </div>                      
                </div>
            </div>
        </td>
        <td>
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <h5 class="card-title">Bidders</h5>
                        <img src="\assets\Help.png"/>
                        <p class="card-text">Please aprove the pending bidders</p>
                        <a href="approve-bidders" class="btn btn-primary">Check and Approve</a>
                    </div>                      
                </div>
            </div>
        </td>
    </tr>
</table>